USE [master]
GO
/****** Object:  Database [Arm_Custom]    Script Date: 02/04/2017 01:13:06 ******/
CREATE DATABASE [Arm_Custom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Arm_Custom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Arm_Custom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Arm_Custom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Arm_Custom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Arm_Custom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Arm_Custom]
GO
USE [Arm_Custom]
GO
/****** Object:  User [hk]    Script Date: 02/04/2017 01:13:06 ******/
CREATE USER [hk] FOR LOGIN [hk] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hk]
GO
/****** Object:  Table [dbo].[EnquiryUser]    Script Date: 02/04/2017 01:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [varchar](50) NULL,
	[Last Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address Line 1] [varchar](100) NOT NULL,
	[Address Line 2] [varchar](50) NULL,
	[City] [varchar](50) NOT NULL,
	[PostCode] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryUserJunctionProduct]    Script Date: 02/04/2017 01:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryUserJunctionProduct](
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [user_product_pk] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 02/04/2017 01:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[EnquiryUserJunctionProduct]  WITH CHECK ADD  CONSTRAINT [FK_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[EnquiryUserJunctionProduct] CHECK CONSTRAINT [FK_product]
GO
ALTER TABLE [dbo].[EnquiryUserJunctionProduct]  WITH CHECK ADD  CONSTRAINT [FK_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[EnquiryUser] ([UserId])
GO
ALTER TABLE [dbo].[EnquiryUserJunctionProduct] CHECK CONSTRAINT [FK_user]
GO
USE [master]
GO
